@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
   --primary: #22577A;
   --secondary: #38A3A5;
   --teal: #57CC99;
   --lime: #80ED99;
   --white: #fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Overpass', sans-serif;
}

.container {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: 50% auto;
   grid-template-rows: 50px 100px auto;
}

.container .left-col {
   height: 100vh;
   overflow: scroll;
   padding: 30px 50px;
}

.container .left-col .header {
   padding: 10px 15px;
   margin-top: 10px;
}

.container .left-col .header h2 {
   font-family: 'Chivo', 'sans-serif';
   color: var(--primary);
   font-weight: 700;
   margin-top: 20px;
}

.container .left-col .content-item {
   margin: 10px 0;
   padding: 10px 15px;
}

.container .left-col .content-item span{
   opacity: .9;
   display: block;
}

.container .left-col .content-item .skill-wrapper {
   width: 80%;
   margin-bottom: 15px;
}

.container .left-col .content-item .skill-wrapper p {
   font-size: 15px;
}

.container .left-col .content-item .skill-wrapper p .note{
   display: inline;
   color: var(--primary);
}

.container .left-col .content-item .skill-wrapper .skill {
   background-color: var(--teal);
   height: 7px;
   border-radius: 10px;
}

.html {width: 78%;}
.css {width: 45%;}
.js {width: 60%;}
.php {width: 80%;}
.mysql {width: 20%;}
.laravel {width: 70%;}
.codeigniter {width: 65%;}
.vue {width: 30%;}

.container .left-col .content-item p {
   margin: 10px 0 0;
   padding-right: 30px;
   line-height: 20px;
}

.container .left-col .content-item p:nth-child(2) {
   margin-top: 20px;
}

.container .right-col {
   position: relative;
   min-height: 100vh;
   padding: 30px 40px;
   background: url(../img/photo.jpg) center -60px;
   background-size: 100% auto ;
}

.container .right-col::after {
   background: linear-gradient('to-top', rgba(0, 0, 0, 0.61) , rgba(255, 255, 255, 0));
}

.container .right-col .content {
   position: absolute;
   bottom: 70px;
   color: var(--white);
}

.container .right-col .content h1 {
   font-family: 'Chivo', 'sans-serif';
   font-kerning: auto;
}

.container .right-col .content .subtitle {
   opacity: .5;
   font-weight: 300;
   font-kerning: normal;
}

.container .right-col .content .links {
   margin-top: 20px;
}

.container .right-col .content .links ul {
   list-style: none;
}

.container .right-col .content .links ul li {
   display: inline-block;
   margin: 0 5px;
}

.container .right-col .content .links ul li a {
   text-decoration: none;
   color: var(--white);
   opacity: .7;
   font-size: 22px;
}

.container .right-col .content .links ul li a:hover {
   opacity: 1;
}

::-webkit-scrollbar {
   width: 20px;
   background-color: transparent;
}
 ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
 }